<% include partials/header %>

<title>Show All Dogs Page</title>
</head>

<div class="container">
   <h1>Show All Dogs Page</h1>

   <div>
      <% dogs.forEach(function(e){ %>
      <p>
         Name: <%= e.name %>, Breed: <%= e.breed %>, State: <%= e.state %>
      </p>
      <% }) %>
   </div>

   <form action="/dogs/new">
      <button autofocus>Add a New Dog</button>
   </form>
</div>

<% include partials/footer %>