<% include partials/header %>

<title>Show Info on a Single Dog Page</title>
</head>

<div class="container">
   <h1>Show Info on a Single Dog Page</h1>

<p>Name: <%= dog.name %> </p>
<p>Breed: <%= dog.breed %> </p>
<p>State: <%= dog.state %> </p>

<% include partials/footer %>